.form_div{
    display: "flex";
    height: "23vh";
    width: "50vw";
    justify-content: "space-evenly";
    align-items: "center";
}
.buttons_div{
    display: "flex";
    align-items: "center";
    justify-content: "end";
    margin-right: "1rem";
}